@import "@fortawesome/fontawesome-free/css/all.css";
@import "/node_modules/flatpickr/dist/flatpickr.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply w-20 h-8 font-bold rounded-xl shadow-2xl flex justify-center items-center
}


.input-element {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
           focus:ring-blue-500 focus:border-blue-500 block w-full  py-2.5 
           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}
