@import "@fortawesome/fontawesome-free/css/all.css";
@import "/node_modules/flatpickr/dist/flatpickr.min.css";
@import "message.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



/* common input element this class is needed on all input elements so that they all look the 
   same and so that the JavaScript CheckForm class can remove error messages when the 
   user adds new input */ 
.input-element {
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg 
           focus:ring-blue-500 focus:border-blue-500 block py-2.5 
           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    font-size: 16px;   
    min-width: 100%; 
    min-height: 2rem;
    
}

.btn {  
    @apply w-28 lg:w-20 h-8 font-bold rounded-xl flex justify-center items-center
}

.btn-lg {
    @apply w-36 lg:w-20 h-10
}

.btn-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-li {
    @apply block decoration-0 w-screen md:w-fit px-7 md:px-4 py-4 bg-blue-900 md:hover:bg-blue-500
}

.card-shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25)
}

.small-container {
    @apply max-w-screen-lg md:max-w-md mx-auto min-h-screen pt-28 px-6 md:px-12 bg-white
}

